<table>
   <tr>
      <td>git add ../template/__WORK_DIR.xml</td>
   </tr>
   <tr>
      <td>git add ../template/__WORK_DIR.ksh</td>
   </tr>
   <tr>
      <td>git add ../template/__Help.xml</td>
   </tr>
   <tr>
      <td>git add ../template/__Help.txt</td>
   </tr>
   <tr>
      <td>git add ../template/__Contact.xml</td>
   </tr>
   <tr>
      <td>git add ../template/__Contact.txt</td>
   </tr>
   <tr>
      <td>&lt;xi:include href="../template/__WORK_DIR.xml"/&gt;</td>
   </tr>
   <tr>
      <td>&lt;xi:include href="../template/__Help.xml"/&gt;</td>
   </tr>
   <tr>
      <td>&lt;xi:include href="../template/__Contact.xml"/&gt;</td>
   </tr>
</table>