<?xml version="1.0" encoding="UTF-8"?><html xmlns:functx="http://www.functx.com">
   <head>
      <style type="text/css">
         h1.intro {
         color: blue;
         }
         *.attention {
         color: red;
         }
         *.css_warning {
         background-color: #FBEFEF;
         }
         *.code {
         background-color: #FBFBEF;
         }
         *.check {
         background-color: #FBEFEF;
         }
         *.judge {
         background-color: #FBFBEF;
         }
         *.align {
         background-color: #E0ECF8;
         }
      </style>
      <title>template</title>
   </head>
   <body>
      <h1>template</h1>
      <table border="1">
         <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>Environment</th>
            <th>Definition</th>
         </tr>
         <tr>
            <td>H___Contact</td>
            <td>Full code file: __Contact.txt</td>
            <td>Help</td>
            <td>
               <ul>
                  <li>cat &lt;&lt; 'EOH'</li>
                  <li>KeyPress:RETURN</li>
                  <li>Garcia, Jose G &lt;Jose.GarciaGarcia@BSWHealth.org&gt; 325-668-8603</li>
                  <li>KeyPress:RETURN</li>
                  <li>Futrell, Leslie &lt;Leslie.Futrell@BSWHealth.org&gt; 254-718-0803</li>
                  <li>KeyPress:RETURN</li>
                  <li>Landrum, Warren &lt;Warren.Landrum@BSWHealth.org&gt; 214-538-2287</li>
                  <li>KeyPress:RETURN</li>
                  <li>EOH</li>
                  <li>KeyPress:RETURN</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>H___Help</td>
            <td>Full code file: __Help.txt</td>
            <td>Help</td>
            <td>
               <ul>
                  <li>cat &lt;&lt; 'EOH'</li>
                  <li>KeyPress:RETURN</li>
                  <li>==To setup DDBoost client follow help in H_DDBoost_installer_binary== </li>
                  <li>KeyPress:RETURN</li>
                  <li>Extra utility Macros to Configure backup, </li>
                  <li>KeyPress:RETURN</li>
                  <li>if Macro begin with R it is in RMAN environment</li>
                  <li>KeyPress:RETURN</li>
                  <li>if Macro begin with S it is in SqlPlus environment</li>
                  <li>KeyPress:RETURN</li>
                  <li>if Macro begin with K it is in ksh or shell environment</li>
                  <li>KeyPress:RETURN</li>
                  <li>if Macro begin with H it is help </li>
                  <li>KeyPress:RETURN</li>
                  <li>==DDBoost setup and utility Macros==</li>
                  <li>KeyPress:RETURN</li>
                  <li>H_DDBoost_installer_binary                             Step by step instruction of</li>
                  <li>KeyPress:RETURN</li>
                  <li>K_ftp_get_downloader_pl                                Use FTP to get DDBoost perl
                     downloader 
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>K_scp_get_DDBoost_binary                               Use SCP to get DDBoost perl
                     downloader
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>K_ls_DDBoost_installed_config_file                     List installed files</li>
                  <li>KeyPress:RETURN</li>
                  <li>S_report_DDBoost_conf                                  Query dictionary on DDBoost</li>
                  <li>KeyPress:RETURN</li>
                  <li>==Cloud control job schedule==</li>
                  <li>KeyPress:RETURN</li>
                  <li>R_CC_8_hour_archive_control          Schedule hourly archivelog and controlfile backup
                     in CC
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>R_CC_daily                           Standard daily RMAN backup code in CC</li>
                  <li>KeyPress:RETURN</li>
                  <li>R_CC_weekly_full                     Standard weekly full incremental backup level
                     0
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>R_CC_weekly_incremental              Standard weekly full incremental backup level
                     1
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>==RMAN backup setup==</li>
                  <li>KeyPress:RETURN</li>
                  <li>S_00_set_control_file_record_keep_time_62  Set 62 as the controlfile keep time and
                     check result
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>S_000000_turn_on_archivelog                Check and help for turn on archivelog steps</li>
                  <li>KeyPress:RETURN</li>
                  <li>S_01_set_log_archive_dest                  Set archivelog destination help and status
                     check
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>S_02_set_db_recovery_file_dest             Flash back setup and set db_recovery_file_dest
                     help
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>S_03_set_force_logging                     Check and set Set force_logging help</li>
                  <li>KeyPress:RETURN</li>
                  <li>S_04_block_curruption_protedt              Check block protection setting and help
                     to setup
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>S_05_block_tracking_help                   Incremental backup blockcheck feature setup
                     and check
                  </li>
                  <li>KeyPress:RETURN</li>
                  <li>R_00_reset_rman_config                     Clear RMAN configuration</li>
                  <li>KeyPress:RETURN</li>
                  <li>R_01_rman_config_tape_basic                Configure RMAN basic tape configuration</li>
                  <li>KeyPress:RETURN</li>
                  <li>R_02_rman_config_tape_channel_count        Increase tape channel from default of 1</li>
                  <li>KeyPress:RETURN</li>
                  <li>==Daily backup maintenance==</li>
                  <li>KeyPress:RETURN</li>
                  <li>R_report_backup                      RMAN backup report codes</li>
                  <li>KeyPress:RETURN</li>
                  <li>S_GEN_makeup_bck_code                Generate code to do minimum effort makeup backup</li>
                  <li>KeyPress:RETURN</li>
                  <li>EOH</li>
                  <li>KeyPress:RETURN</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>K___WORK_DIR</td>
            <td>Full code file: __WORK_DIR.ksh</td>
            <td>KornShell</td>
            <td>
               <ul>
                  <li>cd ~/MyMoba/template</li>
                  <li>KeyPress:RETURN</li>
                  <li>pwd</li>
                  <li>KeyPress:RETURN</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>M____FIND_moba_files</td>
            <td>List Latex temporary files</td>
            <td>MobaXterm</td>
            <td>
               <ul>
                  <li>ls -d ~/MyMoba/*/ | grep -v .git | grep -v AMC  | xargs find | grep -i oracle_home</li>
                  <li>KeyPress:RETURN</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>M_______cd_common</td>
            <td>Change directory to common</td>
            <td>MobaXterm</td>
            <td>
               <ul>
                  <li>cd ~/MyMoba/common</li>
                  <li>KeyPress:RETURN</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>M___cd_MyMoba</td>
            <td>Change to MyMoba from MobaXterm Shell prompt</td>
            <td>MobaXterm</td>
            <td>
               <ul>
                  <li>cd ~/MyMoba</li>
                  <li>KeyPress:RETURN</li>
                  <li>pwd</li>
                  <li>KeyPress:RETURN</li>
               </ul>
            </td>
         </tr>
         <tr>
            <td>M_cmd</td>
            <td>Get into Windows cmd environment</td>
            <td>MobaXterm</td>
            <td>
               <ul>
                  <li>cmd</li>
                  <li>KeyPress:RETURN</li>
               </ul>
            </td>
         </tr>
      </table>
   </body>
</html>