<ul xmlns:functx="http://www.functx.com">
   <li>template.mxtmacros</li>
   <li>template_help.html</li>
</ul>
<table xmlns:functx="http://www.functx.com">
   <tr>
      <td>git add ../common/__cd_MyMoba.xml</td>
   </tr>
   <tr>
      <td>git add ../common/______cd_common.xml</td>
   </tr>
   <tr>
      <td>git add ../common/cmd.xml</td>
   </tr>
   <tr>
      <td>git add ../common/___FIND_moba_file.xml</td>
   </tr>
   <tr>
      <td>git add ../template/__WORK_DIR.xml</td>
   </tr>
   <tr>
      <td>git add ../template/__Help.xml</td>
   </tr>
   <tr>
      <td>git add ../template/__Contact.xml</td>
   </tr>
</table>